<!-- questionarios/templates/questionarios/estacoes_moveis_confirm_delete.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/estacoes_moveis.css' %}">
{% endblock %}

 
{% block content %}
<h2>Confirmar Exclusão</h2>
<p>Tem certeza que deseja excluir o indicador de Estações Móveis para {{ object.ano }}/{{ object.mes }}?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
</form>
<a href="{% url 'estacoes_moveis_list' %}" class="btn btn-secondary">Cancelar</a>
{% endblock %}