{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/trafego_originado.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Indicador de Tráfego Originado</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Informações Gerais
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.ano.label_tag }}
                        {{ form.ano }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.mes.label_tag }}
                        {{ form.mes }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Tráfego de Dados 3G e upgrade
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.trafego_dados_3g_upgrade.label_tag }}
                        {{ form.trafego_dados_3g_upgrade }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.internet_3g.label_tag }}
                        {{ form.internet_3g }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.internet_3g_placas_modem.label_tag }}
                        {{ form.internet_3g_placas_modem }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.internet_3g_modem_usb.label_tag }}
                        {{ form.internet_3g_modem_usb }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Tráfego de Dados 4G
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.trafego_dados_4g.label_tag }}
                        {{ form.trafego_dados_4g }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.internet_4g.label_tag }}
                        {{ form.internet_4g }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.internet_4g_placas_modem.label_tag }}
                        {{ form.internet_4g_placas_modem }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.internet_4g_modem_usb.label_tag }}
                        {{ form.internet_4g_modem_usb }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Tráfego de Dados 2G e Sessões
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.trafego_dados_2g.label_tag }}
                        {{ form.trafego_dados_2g }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.trafego_dados_3g_upgrade_sessoes.label_tag }}
                        {{ form.trafego_dados_3g_upgrade_sessoes }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.internet_3g_sessoes.label_tag }}
                        {{ form.internet_3g_sessoes }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.internet_3g_placas_modem_sessoes.label_tag }}
                        {{ form.internet_3g_placas_modem_sessoes }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.internet_3g_modem_usb_sessoes.label_tag }}
                        {{ form.internet_3g_modem_usb_sessoes }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Tráfego de Mensagens (SMS)
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.sms_total.label_tag }}
                        {{ form.sms_total }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.sms_on_net.label_tag }}
                        {{ form.sms_on_net }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.sms_off_net.label_tag }}
                        {{ form.sms_off_net }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.sms_internacional.label_tag }}
                        {{ form.sms_internacional }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.sms_cedeao.label_tag }}
                        {{ form.sms_cedeao }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.sms_palop.label_tag }}
                        {{ form.sms_palop }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.sms_cplp.label_tag }}
                        {{ form.sms_cplp }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.sms_resto_africa.label_tag }}
                        {{ form.sms_resto_africa }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.sms_resto_mundo.label_tag }}
                        {{ form.sms_resto_mundo }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Volume de Tráfegos de Voz
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.voz_total.label_tag }}
                        {{ form.voz_total }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.voz_on_net.label_tag }}
                        {{ form.voz_on_net }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.voz_off_net.label_tag }}
                        {{ form.voz_off_net }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.voz_mtn.label_tag }}
                        {{ form.voz_mtn }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.voz_internacional.label_tag }}
                        {{ form.voz_internacional }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.voz_cedeao.label_tag }}
                        {{ form.voz_cedeao }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.voz_cplp.label_tag }}
                        {{ form.voz_cplp }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.voz_palop.label_tag }}
                        {{ form.voz_palop }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.voz_resto_africa.label_tag }}
                        {{ form.voz_resto_africa }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.voz_resto_mundo.label_tag }}
                        {{ form.voz_resto_mundo }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Número de Comunicações de Voz
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_total.label_tag }}
                        {{ form.chamadas_total }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_on_net.label_tag }}
                        {{ form.chamadas_on_net }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_off_net.label_tag }}
                        {{ form.chamadas_off_net }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_mtn.label_tag }}
                        {{ form.chamadas_mtn }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_internacional.label_tag }}
                        {{ form.chamadas_internacional }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_cedeao.label_tag }}
                        {{ form.chamadas_cedeao }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_cplp.label_tag }}
                        {{ form.chamadas_cplp }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_palop.label_tag }}
                        {{ form.chamadas_palop }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_resto_africa.label_tag }}
                        {{ form.chamadas_resto_africa }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.chamadas_resto_mundo.label_tag }}
                        {{ form.chamadas_resto_mundo }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                Outros Indicadores
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ form.operador_movel_b.label_tag }}
                        {{ form.operador_movel_b }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.operador_rede_fixa.label_tag }}
                        {{ form.operador_rede_fixa }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ form.numeros_curtos.label_tag }}
                        {{ form.numeros_curtos }}
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/trafego_originado_form_validation.js' %}"></script>
{% endblock %}