{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Detalhes do Indicador de Tráfego Originado</h2>
    
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            Informações Gerais
        </div>
        <div class="card-body">
            <p><strong>Ano:</strong> {{ indicador.ano }}</p>
            <p><strong>Mês:</strong> {{ indicador.mes }}</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            Tráfego de Dados 3G e upgrade
        </div>
        <div class="card-body">
            <p><strong>Tráfego de Dados 3G e upgrade:</strong> {{ indicador.trafego_dados_3g_upgrade }} Mbit/s</p>
            <p><strong>Internet 3G:</strong> {{ indicador.internet_3g }} Mbit</p>
            <p><strong>Internet 3G (Placas Modem):</strong> {{ indicador.internet_3g_placas_modem }} Mbit</p>
            <p><strong>Internet 3G (Modem USB):</strong> {{ indicador.internet_3g_modem_usb }} Mbit</p>
        </div>
    </div>

    <!-- Adicione mais seções para os outros grupos de dados -->

    <a href="{% url 'trafego_originado_update' indicador.pk %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'trafego_originado_list' %}" class="btn btn-secondary">Voltar para a Lista</a>
</div>
{% endblock %}