{# usuarios/templates/usuarios/base_usuarios.html #}
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% if user.is_superuser %}
            <div class="col-md-3">
                {% include 'usuarios/_admin_sidebar.html' %}
            </div>
        {% endif %}
        
        <div class="col">
            {% include 'usuarios/_messages.html' %}
            {% block usuarios_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'usuarios/js/usuarios.js' %}"></script>
{% endblock %}