<div class="collapse navbar-collapse" id="main-nav"></div>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link d-lg-none text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="clothing-link" aria-haspopup="true" aria-expanded="false">
                Mercado de Telefonia Movel
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dados-anuais-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Questionarios
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dados-anuais-link">
                <a href="{% url 'estacoes_moveis_list' %}" class="dropdown-item">Estações Moveis</a>
                <a href="" class="dropdown-item">Trafego Originado</a>
                <a href="" class="dropdown-item">Trafego Terminado</a>
                <a href="" class="dropdown-item">Trafego Roaming Internacional</a>
                <a href="" class="dropdown-item">LBI</a>
                <a href="" class="dropdown-item">Trafego de Internet</a>
                <a href="" class="dropdown-item">Internet Fixo</a>
                <a href="" class="dropdown-item">Tarifario Voz</a>
                <a href="" class="dropdown-item">Receitas</a>
                <a href="" class="dropdown-item">Empregos</a>
                <a href="" class="dropdown-item">Investimento</a>
            </div>
        </li>

    </ul>
</div>