{% load static %}

<div class="collapse navbar-collapse justify-content-center" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-black" href="{% url 'home' %}">Mercado de Telefonia Móvel</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black dropdown-toggle" href="#" id="questionarios-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Questionários
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="questionarios-dropdown">
                <a href="{% url 'estacoes_moveis_list' %}" class="dropdown-item">Estações Móveis</a>
                <a href="{% url 'trafego_originado_list' %}" class="dropdown-item">Tráfego Originado</a>
                <a href="{% url 'trafego_terminado_list' %}" class="dropdown-item">Tráfego Terminado</a>
                <a href="{% url 'trafego_roaming_internacional_list' %}" class="dropdown-item">Tráfego Roaming Internacional</a>
                <a href="{% url 'lbi_list' %}" class="dropdown-item">LBI</a>
                <a href="{% url 'trafego_internet_list' %}" class="dropdown-item">Tráfego de Internet</a>
                <a href="{% url 'internet_fixo_list' %}" class="dropdown-item">Internet Fixo</a>
                <div class="dropdown-submenu">
                    <a href="#" class="dropdown-item dropdown-toggle">Tarifário Voz</a>
                    <div class="dropdown-menu">
                        <a href="{% url 'tarifario_orange_list' %}" class="dropdown-item">Orange</a>
                        <a href="{% url 'tarifario_mtn_list' %}" class="dropdown-item">MTN</a>
                    </div>
                </div>
                <a href="{% url 'receitas_list' %}" class="dropdown-item">Receitas</a>
                <a href="" class="dropdown-item">Empregos</a>
                <a href="" class="dropdown-item">Investimento</a>
            </div>
        </li>
    </ul>
</div>
