{# templates/includes/mobile-top-header.html #}
<ul class="list-inline text-center w-100 my-3">
    <!-- Search item permanece igual -->
    <li class="list-inline-item dropdown">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user fa-lg"></i>
            <p class="my-0">Meu Perfil</p>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'usuarios:admin_dashboard' %}" class="dropdown-item">Dashboard Admin</a>
                    <a href="{% url 'usuarios:pending_approval_list' %}" class="dropdown-item">Aprovações</a>
                    <a href="{% url 'usuarios:operator-list' %}" class="dropdown-item">Operadores</a>
                {% endif %}
                <a href="{% url 'usuarios:profile_view' %}" class="dropdown-item">Meu Perfil</a>
                <a href="{% url 'usuarios:profile_edit' %}" class="dropdown-item">Editar Perfil</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'usuarios:change_password' %}" class="dropdown-item">Alterar Senha</a>
                <a href="{% url 'usuarios:change_email' %}" class="dropdown-item">Alterar Email</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'usuarios:help_center' %}" class="dropdown-item">Ajuda</a>
                <a href="{% url 'usuarios:logout' %}" class="dropdown-item">Sair</a>
            {% else %}
                <a href="{% url 'usuarios:login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
</ul>